@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");

*{
    margin: 0;
    padding: 0;
    font-family:"Space Mono", monospace;
}

body{
    background-color: hsl(172, 67%, 45%);
}
.logo{
    width: 200px;
    margin: auto;
    margin-top: 45px;
}

.form{
    width: 70%;
    margin: auto;
    display: flex;
    border-radius: 6px;
    margin-top: 10px;
    background-color: white;

}
.form__option{
    width: 50%;
    padding: 30px;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
}
.form__option-prop{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
    
}
.form__option-people{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
    justify-content: space-between;
    
}


.form__option-people .c{
    
    color: red;
}

.input__propina{
    width: 100%;
    height: 35px;
    margin-top: 10px;
    border: 2px solid  hsl(172, 67%, 45%);
    border-radius: 4px;
    background-image: url(../img/icon-dollar.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: 10px;
    background-color: hsl(189deg, 41%, 97%);
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    text-align: end;
}
.form__option label{
    width: 100%;
    margin-bottom: 10px;
}

.option{
    width: 30% ;
    margin: auto;
    margin-bottom: 6px;
    background: hsl(183, 100%, 15%);
    border-radius: 4px;
    border: none;
    color: hsl(0, 0%, 100%);
    height: 35px;
    font-size: 24px;
    font-weight: 700;
}
.option:hover{
    cursor: pointer;
}
.option:active{
    background-color: hsl(172, 67%, 45%);
    border: 1px solid hsl(183, 100%, 15%);
    cursor: pointer;
}
.option-input{
    width: 30% ;
    margin: auto;
    margin-bottom: 6px;
    background: hsl(183, 100%, 15%);
    border-radius: 4px;
    border: none;
    color: hsl(0, 0%, 100%);
    text-align: center;
    height: 35px;
    font-size: 24px;
    font-weight: 700;
}
.option-input:hover{
    cursor: pointer;
}
.option-input:focus{
    background-color:hsl(0, 0%, 100%);
    border: 1px solid hsl(183, 100%, 15%);
    color: hsl(183, 100%, 15%);
}

.number__people{
    width: 100%;
    border: 2px solid red;
    border-radius: 4px;
    height: 30px;
    margin-top: 10px;
    background-image: url(../img/icon-person.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: 10px;
    text-align: end;
    font-weight: 700;
    font-size: 24px;
}
.form__result{
    width: 50%;
    padding: 10px;
    padding-top: 20px;
    border-radius: 6px;
    background-color:hsl(183, 100%, 15%);
    display: flex;
    flex-wrap: wrap;
}
.form__result-opt{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.t{
    color: hsl(0, 0%, 100%) ;
}
.number{
    color:hsl(172, 67%, 45%);
}
.form__result label{
    width: 50%;
    color: hsl(0, 0%, 100%);
}
.form__result p{
    width: 50%;
    font-size: 20px;
    font-weight: 900;
}
.form__result-btn{
    width: 90%;
    height: 30px;
    margin: auto;
    background-color: hsl(172, 67%, 45%);
    border: none;
    border-radius: 4px;
    font-weight: 700;
    font-size: 24px;
    color: hsl(0, 0%, 100%);
}
.form__result-btn:hover{
    cursor: pointer;
}
.form__result-btn:active{
    width: 90%;
    height: 30px;
    margin: auto;
    background-color: hsl(0, 0%, 100%);
    border: none;
    border-radius: 4px;
    font-weight: 700;
    font-size: 24px;
    color: hsl(172, 67%, 45%);
    border: none;
}



@media only  screen and (max-width: 850px) {
    .form{
        width: 95%;
    }
    
}

@media only  screen and (max-width: 500px) {
    .form{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .form__option{
        width: 100%;
    }
    .form__result{
        width: 100%;
        height: 200px;
    }
    
}